version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    groups:
      gha:
        patterns:
          - "*"
  - package-ecosystem: gomod
    directories:
      - "*/**"
    schedule:
      interval: weekly
    groups:
      go:
        patterns:
          - "*"
  - package-ecosystem: bun
    directory: /
    schedule:
      interval: weekly
    groups:
      node:
        patterns:
          - "*"
    ignore:
      - dependency-name: "@heroui/theme"
        versions: ["2.4.17"] # Not tailwind 4 compatible
