go 1.26.0

use (
	./build
	./common/go
	./common/go/build
	./crawler/api
	./crawler/api/build
	./crawler/server
	./crawler/server/build
	./frontend/api
	./frontend/api/build
	./frontend/server
	./frontend/server/build
	./tasks/api
	./tasks/api/build
	./tasks/server
	./tasks/server/build
)
