name: Crawler Server CI
on:
  push:
    branches:
      - main
    paths:
      - common/go/**
      - crawler/server/**
      - crawler/api/go/**
      - .github/workflows/ci-crawler-server.yaml
  pull_request:
    paths:
      - common/go/**
      - crawler/server/**
      - crawler/api/go/**
      - .github/workflows/ci-crawler-server.yaml
  workflow_dispatch:
  workflow_call:

permissions:
  actions: read
  contents: read
  id-token: write

jobs:
  ci:
    uses: curioswitch/go-curiostack/.github/workflows/export-go-server-ci.yaml@4710e4d4054cc4ccbf4e2f8721861a3c89111a5d
    with:
      project_dir: crawler/server
      service: crawler-server
      deploy_dev: false
    secrets: inherit
