name: Repository Root CI
on:
  push:
    branches:
      - main
    paths:
      - .github/**
      - "*"
  pull_request:
    paths:
      - .github/**
      - "*"
  workflow_dispatch:
  workflow_call:

permissions:
  actions: read
  contents: read
  id-token: write

jobs:
  check:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - uses: curioswitch/go-build/.github/actions/setup-go@f60fc8379d735d0415c0c56339d389f680760d96 # v0.6.3

      - run: go run ./build lint
