name: Repository Root CI
on:
  push:
    branches:
      - main
    paths:
      - .github/**
      - "*"
  pull_request:
    paths:
      - .github/**
      - "*"
  workflow_dispatch:
  workflow_call:

permissions:
  actions: read
  contents: read
  id-token: write

jobs:
  check:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: curioswitch/go-build/.github/actions/setup-go@8304121f488a5faa0b1ff094b6e2abc8da5b6c43 # v0.7.1

      - run: go run ./build lint
